[Desktop Entry]
Version=1.0
Type=Application
Name=Bastion Firewall Tray
GenericName=Firewall Tray
Comment=GUI and tray icon for Bastion Firewall
Exec=/usr/bin/bastion-gui
Icon=bastion-icon
Terminal=false
Categories=System;Security;
StartupNotify=false
NoDisplay=true
X-GNOME-Autostart-enabled=true
X-GNOME-Autostart-Delay=3
Hidden=false
