name: Build and Release

on:
  push:
    tags:
      - 'v*'

jobs:
  build:
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Install Build Dependencies (Debian)
        run: |
          sudo apt-get update
          sudo apt-get install -y dpkg-dev rpm

      - name: Build Debian Package
        run: ./build_deb.sh

      - name: Build RPM Package
        run: ./build_rpm.sh

      - name: Create Release
        uses: softprops/action-gh-release@v1
        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: |
            *.deb
            *.rpm
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
